@import 'mixins';

* {
  @include border-box;
  margin: 0;
  padding: 0;


  > body {
    background-image: url(/assets/images/bg-lamp.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
     // Alinhar texto ao centro do navegador
     display: grid;
     min-height: 100vh;
     place-items: center;
     width: 100%;

     > img {
      display: block;
      margin-top: 10rem;
      width: 18%;

      @include d(m) {
        width: 50%;
      }

      @include d(t) {
        width: 35%;
      }

     }

     > form {
      > #acendendo, #apagando, #piscando {
        background-color: #fffecf;
        color: #000;
        cursor: pointer;
        font-size: .9rem;
        // font-weight: bold;
        padding: 1.5rem 5rem;
        font-weight: 600;
        &:hover {
          opacity: 0.5;
        }
        @include d(m) {
          padding: .5rem 2rem;
          font-weight: 500;
        }

        @include d(t) {
          padding: .8rem 3rem;
          font-weight: 500;
        }
      }
     }
  }
}